html{
    margin: 0px;
}

body {
    background-color: #427272;
    margin: auto;
}

.header {
    background: #2F4F4F;
    color: white;
    text-align: center;
    padding: 1px 0 1px 0;
    /*height: 100px;*/
}

.header h1 {   
    font-family: 'Girassol', cursive;
    font-size: 55px;
    letter-spacing: 3px;
}

.header p {
    font-size: 25px;
}

#inputs {
    margin-bottom: 3px;
}

#inputs select {
    color: #DDD;
    width: 150px;
    height: 30px;
    background-color: #a44;
    border: outset 2px #944;
}

#inputs select:hover {
    border-color: #955;
    background-color: #a55;
}

.btn:hover {
    background-color: #a55;
    border-color: #955;
}

.btn {
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: #DDD;
    background-color: #a44;
    border-color: #944;
    margin: 1px;
}

#sorts {
    float: left;
    display: none;
}

#btnsPrimarios {
    float: left;
}

#bloco1{
    margin: auto;
    max-width: 1100px;
}



#cnv{
    float: right;
}