body {
    background-color: #427272;
    margin: 0;
}

.header {
    background: #2F4F4F;
    color: white;
    text-align: center;
    padding: 40px;
}

.header h1 {
    font-family: 'Girassol', cursive;
    font-size: 55px;
    letter-spacing: 3px;
}

.header p {
    font-size: 25px;
}

#inputs {
    margin-bottom: 3px;
}

#inputs select {
    color: #DDD;
    width: 150px;
    height: 30px;
    background-color: #a44;
    border: outset 2px #944;
}

#inputs select:hover {
    border-color: #955;
    background-color: #a55;
}

.btn:hover {
    background-color: #a55;
    border-color: #955;
}

.btn {
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: #DDD;
    background-color: #a44;
    border-color: #944;
    margin: 1px;
}

#sorts {
    float: left;
    display: none;
}

#btnsPrimarios {
    float: left;
}